VITE_SUPABASE_URL=https://jqygvozxuxnzjqouquku.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpxeWd2b3p4dXhuempxb3VxdWt1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMDI4ODcsImV4cCI6MjA5MDc3ODg4N30.8dfFH_hKGfzgJvHmyVAh58sJQyhVt8exCNp-E4mWgTw